<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<!-- To enable JMX Management, If your application is deployed in a web-server or an application server, 
	the registration of an JMXConfigurator instance creates a reference from the system class loader into your application 
	which will prevent it from being garbage collected when it is stopped or re-deployed, resulting in a severe memory leak.
	Thus, unless your application is a standalone Java application, 
	you MUST unregister the JMXConfigurator instance from the JVM's Mbeans server. 
	Invoking the reset() method of the appropriate LoggerContext will automatically unregister any JMXConfigurator instance. 
	A good place to reset the logger context is in the contextDestroyed() method of a javax.servlet.ServletContextListener.
	<http://logback.qos.ch/manual/jmxConfig.html#leak> -->
	<jmxConfigurator />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<logger name="me.longgen.web" level="DEBUG" />
	<logger name="org.springframework" level="INFO" />

	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
